{% load static %}
<!doctype html>
<html lang="en">
  <head>
			{% include 'import.html' %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/rachel.css' %}"</link>

	
    <title>Easy Bike | Peminjaman</title>
  </head>
  <body>
			{% include 'navbar.html' %}
    <div class="container-fluid">
	<div class="row">
		<div id=frametitle class="col-md-12">
			<div class="jumbotron" id=vouchertitle>
				<h2 class=judul>
					PEMINJAMAN
				</h2>
				<p class=judul>
					Penasaran seberapa sering kamu meminjam sepeda? simak listnya di bawah ini!
				</p>
			</div>
		</div>
	</div>
	<div id=tombol class="dropdown">
		<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
			Filter by
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item disabled" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
		</div>
		<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
			Sort by
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item disabled" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
		</div>
	</div>
	<div id=tablevoucher class="row">
		<table class="table table-bordered" style="background-color: white">
				<thead>
					<tr>
						<th>
							No Kartu
						</th>
						<th>
							Sepeda
						</th>
						<th>
							Stasiun
						</th>
						<th>
							Waktu kembali
						</th>
						<th>
							Biaya
						</th>
						<th>
							Denda
						</th>
						<th>
							Action[Anggota]
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							13u78q 
						</td>
						<td>
							11244 -BMX
						</td>
						<td>
							637 -StasiunX
						</td>
						<td>
							Stasiun Basdat Depok 1
						</td>
						<td>
							10000
						</td>
						<td>
							-
						</td>
						<td>
							<button id="updatebutton" type="return" class="btn btn-warning">kembalikan</button>
						</td>
						</td>
					</tr>
				</tbody>
			</table>
		<nav id=bawah class="pagination-sm">
				<ul class="pagination">
					<li class="page-item">
						<a class="page-link" href="#">Previous</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">3</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">4</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">5</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">Next</a>
					</li>
				</ul>
			</nav>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>