@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.bg {
    /* border: 1px solid  */
    background-color: white;
    color:white;
    cursor:pointer;
 }
 
 /* .bg:hover {
    background-color: black;
    color:white;
 } */
 .bg-img{
    background-image: url("img/wallpaper-new-small.png");
    background-position: fixed;
    /* background-repeat: no-repeat; */
 }
 .font1{
    font-family: Source Sans Pro;
 }
 .font2{
    font-family: Arvo;
 }
 .bg2 {
    border: 1px solid #07a0c3;
    background-color: #F0c808;
    color:white;
    height:30px;
    width:100px;
    cursor:pointer;
 }
 
 .bg2:hover {
    background-color: white;
    color: black;
 }
 .bg3{
    background-color: #07a0c3;
 }
 .box {
    width: 800px;
    border: 20px solid #07a0c3;
    padding: 50px;
    margin: 50px;
    margin-right:0px;
  }
  #table-penugasan{
    color:white;
  }
  #rcorner {
   
    background: white;
    padding: 20px; 
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
  }

.content_box{
    float:left;
    width:100%;
}
.left_bar{
    float:left;
    width:15%;
    background-color:white;
    height:100vh;
}

.right_bar{
    float:left;
    width:85%;
    padding:15px;
        /*border-left:1px solid #ccc;*/
        height:100%;
}

.bg_penugasan{
    background-image: #07a0c3;
}







/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


  
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  
  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  

  
  /*---------------------------------------------*/
  a {
  
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  
  a:focus {
      outline: none !important;
  }
  
  a:hover {
      text-decoration: none;
  }
  
  /*---------------------------------------------*/
  h1,h2,h3,h4,h5,h6 {
      margin: 0px;
  }
  
  p {
      
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
  }
  
  ul, li {
      margin: 0px;
      list-style-type: none;
  }
  
  
  /*---------------------------------------------*/
  input {
      outline: none;
      border: none;
  }
  
  textarea {
    outline: none;
    border: none;
  }
  
  textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  
  
  label {
    display: block;
    margin: 0;
  }
  
  /*---------------------------------------------*/
  button {
      outline: none !important;
      border: none;
      background: transparent;
  }
  
  button:hover {
      cursor: pointer;
  }
  
  iframe {
      border: none !important;
  }
  

  
  
  /*//////////////////////////////////////////////////////////////////
  [ Contact ]*/
  
  /*==================================================================
  [ Background ]*/
  .bg-container-contact100 {
    width: 100%;
    height: 100% ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color:#F0c808; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }
  
  .contact100-header-logo img {
    max-height: 23px;
  }
  
  .btn-show-contact100 {
    
    font-size: 12px;
    color: #07a0c3;
    text-transform: uppercase;
    letter-spacing: 1px;
  
    display: block;
    min-width: 160px;
    height: 42px;
    background-color: #fff;
    border-radius: 21px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .btn-show-contact100:hover {
    color: #fff;
    background-color: #07a0c3;
  }
  
  
  
  /*==================================================================
  [ Content container ]*/
  .container-contact100 {
    width: 100%;  
    /* min-height: 100vh; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background:#07a0c3(132,106,221,0.8);
    position: relative;
    z-index: 10;
  }
  
  .wrap-contact100 {
    width: 580px;
    background: #C1DFF0;
    background-color: #fff;
    border-radius: 3px;
    position: relative;
    margin-top: 10px;
  }
  
  /*==================================================================
  [ Title form ]*/
   .contact100-form-title {
    
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
  
    width: 100%;
    min-height: 128px;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
    
    padding: 30px 15px 30px 15px;
  }
  
  .contact100-form-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(67,67,67,0.6);
  } 
  
  
  /*==================================================================
  [ Form ]*/
  
  .contact100-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 55px 48px 55px;
  }
  
  
  /*------------------------------------------------------------------
  [ Input ]*/
  
  .wrap-input100 {
    width: 100%;
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    margin-bottom: 15px
  }
  
  .label-input100 {
    font-size: 18px;
    color: #F0c808;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 60px;
    height: 100%;
    top: 0;
    left: 2px;
  }
  
  .label-input100.rs1 {
    height: 60px;
  }
  
  .input100 {
    display: block;
    width: 100%;
    background: transparent;
    font-family: Montserrat-Regular;
    font-size: 15px;
    color: black;
    line-height: 1.2;
    padding: 0 25px 0 60px;
  }
  
  input.input100 {
    height: 55px;
  }
  
  textarea.input100 {
    min-height: 162px;
    padding-top: 22px;
    padding-bottom: 15px;
  }
  
  /*---------------------------------------------*/
  
  .focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid;
    border-radius: 2px;
    border-color: #07a0c3;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
  }
  
  .input100:focus + .focus-input100 {
    visibility: visible;
    opacity: 1;
  
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  
  .input100:focus + .focus-input100 + .label-input100 {
    color: #07a0c3;
  }
  
  
  
  /*------------------------------------------------------------------
  [ Button ]*/
  .container-contact100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 17px;
  }
  
  .contact100-form-btn {
    
    font-size: 14px;
    color: #fff;
    line-height: 1.2;

    
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 42px;
    border-radius: 21px;
    background: #086788;
  
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    
  }


  .contact100-form-btn:hover {
    background: #F0c808;
    -webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;

  }
  @import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
  box-sizing: border-box;
}

/* body {
    background-color: #007ea7;
} */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: Source Sans Pro;
}

label {
  padding: 12px 12px 12px 50px;
  display: inline-block;
  font-family: Source Sans Pro;
}

option {
  padding: 12px 12px 12px 50px;
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 15px;
}

input[type=submit] {
  background-color: #f0c808;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

input[type=submit]:hover {
  background-color: #007ea7;
}

.container {
  border-radius: 5px;
  background-color: #c1dff0;
  padding: 20px;
  width: 50%
}

.col-25 {
  width: 25%;
  padding-right: 10px;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.judul {
    font-family: Arvo;
    font-size: 35px; 
    padding-top: 20px;   
    padding-bottom: 20px;
}

 .container-contact100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 17px;
  }
  
  .contact100-form-btn {
    font-family: Arvo;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 42px;
    border-radius: 21px;
    background: #007EA7;
  
    box-shadow: 0 10px 30px 0px #086788(132, 106, 221, 0.5);
    -moz-box-shadow: 0 10px 30px 0px #086788(132, 106, 221, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px #086788(132, 106, 221, 0.5);
    -o-box-shadow: 0 10px 30px 0px#086788(132, 106, 221, 0.5);
    -ms-box-shadow: 0 10px 30px 0px #086788(132, 106, 221, 0.5);
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .contact100-form-btn:hover {
    background: #f0c808;
    box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  }
  
  

  
  