@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.butt {
   border: 1px solid white;
   background-color: #07a0c3;
   color:white;
   height:50px;
   width:100px;
   cursor:pointer;
}

.butt:hover {
   background-color: black;
   color:white;
}

.butt2 {
   border: 1px solid #07a0c3;
   background-color: #F0c808;
   color:white;
   height:30px;
   width:100px;
   cursor:pointer;
}

.butt2:hover {
   background-color: white;
   color: black;
}

.buttonCustom3 {
   margin-top: -3%;
   padding-bottom: 7%;
}

.box1 {
   background-color: #07a0c3;
}

.judulPricing {
   font-family: Arvo;
   padding-top: 5%;
   padding-bottom:4%;
}

.thisOneArvo {
   font-family: Arvo;
}

.thisOneFont2 {
   font-family: Source Sans Pro;
}
.buttonCustom {
   font-weight: bold;
}

.hargaBanner {
   padding-bottom: 4%;
}

.detailHarga {
   padding-bottom: 5%;
}

.CPheadline {
   padding-top: 6%;
   padding-bottom: 4%;
}

.banner2 {
   background-color: #C1DFF0;
   padding-bottom: 5%;
}

.banner3 {
   padding-top: 5%;
   padding-bottom: 5%;
}

.RSbanner {
   padding-bottom: 4%;
}

.fontSize1{
   font-size: 14px;
}

.banner4 {
   color:white;
   padding-top:5%;
   background-color: #07a0c3;
   padding-bottom:5%;
}

.banner5 {
   background-color: #07a0c3;
   padding-top: 5%;
   padding-bottom: 5%;
   color:white;
   margin-top:-3%;
   margin-bottom: -3%;
}

.KKheadline {
   padding-bottom:4%;
}

.first {
   background-image: url('../img/wallpaper.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height:100%;
   color: white;
   padding-top: 3%;
}

.subintro {
   margin-top: -3%;
   padding-bottom: 4%;
}

.map {
   background-image: url('../img/map.PNG');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height:100%;
   padding-bottom: 50%;
}

.pemesananIcon {
   padding-bottom: 5%;
}

.navigation {
   padding-left: 5%;
}
