@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
  box-sizing: border-box;
}

body {
    background-image: url('../img/wallpaper-new-big.png');
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: Source Sans Pro;
}

label {
  padding: 12px 12px 12px 50px;
  display: inline-block;
  font-family: Source Sans Pro;
}

option {
  padding: 12px 12px 12px 50px;
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 15px;
}

input[type=submit] {
  background-color: #f0c808;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

input[type=submit]:hover {
  background-color: #007ea7;
}

.container {
  border-radius: 5px;
  background-color: #c1dff0;
  padding: 20px;
  width: 50%
}

.col-25 {
  width: 25%;
  padding-right: 10px;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.judul {
    font-family: Arvo;
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}

 .container-contact100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 17px;
  }

  .contact100-form-btn {
    font-family: Arvo;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 42px;
    border-radius: 21px;
    background: #007EA7;

    box-shadow: 0 10px 30px 0px #086788(132, 106, 221, 0.5);
    -moz-box-shadow: 0 10px 30px 0px #086788(132, 106, 221, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px #086788(132, 106, 221, 0.5);
    -o-box-shadow: 0 10px 30px 0px#086788(132, 106, 221, 0.5);
    -ms-box-shadow: 0 10px 30px 0px #086788(132, 106, 221, 0.5);

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .contact100-form-btn:hover {
    background: #f0c808;
    box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  }


