@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

#vouchertitle{
    background-color: #07a0c3;
    margin: 0px 0px 10x;
}
#frametitle{
    padding: 0px 0px;
}

.judul{
    text-align: center;
}

#tombol{
    padding: 10px 0px;
}

#tablevoucher{
    padding: 0px 14px;
}

#updatebutton{
    display: flex;
    align-items: center;
    justify-content: center;
}

#judulnya{
    text-align: center;
    margin: 10px 0px 0px;
    font-family: Arvo;
}
.judul{
    font-family: Arvo;
}

th{
    font-family: Source Sans Pro;
}

#dropdownMenuButton{
    font-family: Source Sans Pro;
}
tr{
    font-family: Source Sans Pro;
}

#formnya{
    margin: 100px 100px 300px 300px;
    /* padding: 50px 100px 100px 100px; */
    font-family: Source Sans Pro;
}

body{
    background-color: #C1DFF0 !important;
}

/* table.table-bordered > thead > tr > th{
    border:1px solid black;
  }

  table.table-bordered > thead > tr{
    border:1px solid black;
  } */

  /*------------------------------------------------------------------
  [ Button ]*/
  .container-contact100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 17px;
    font-family: Source Sans Pro;;
    font-size: 12px;
  }
  
  .contact100-form-btn {
    font-family: Source Sans Pro;;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 42px;
    border-radius: 21px;
    background: #007EA7;
  
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    
  }


  .contact100-form-btn:hover {
    background: #F0c808;
    font-family: Source Sans Pro;;
    font-size: 12px;
    -webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;

  }
  