@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

#vouchertitle{
    background-color: #07A0C3;
    margin: 0px 0px 10x;
}
#frametitle{
    padding: 0px 0px;
}

.judul{
    text-align: center;
}

#tombol{
    padding: 10px 0px;
}

#tablevoucher{
    padding: 0px 14px;
}

#updatebutton{
    display: flex;
    align-items: center;
    justify-content: center;
}

#judulnya{
    text-align: center;
    margin: 10px 0px 0px;
    font-family: Arvo;
}
.judul{
    font-family: Arvo;
}

th{
    font-family: Source Sans Pro;
}

#dropdownMenuButton{
    font-family: Source Sans Pro;
}
tr{
    font-family: Source Sans Pro;
}

#formnya{
    margin: 100px 100px 300px 300px;
    /* padding: 50px 100px 100px 100px; */
    font-family: Source Sans Pro;
}

body{
    background-color: #C1DFF0 !important;
}

/* table.table-bordered > thead > tr > th{
    border:1px solid black;
  }

  table.table-bordered > thead > tr{
    border:1px solid black;
  } */
