{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    {% include 'import.html' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--     Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/selvy-2.css' %}">
    <title>Easy Bike | Tambah Stasiun </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>


<!-- <h2>Responsive Form</h2>
<p>Resize the browser window to see the effect. When the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other.</p>
 -->

 {% include 'navbar.html' %}
<h2 class=judul style="text-align: center; color: white"> Form Penambahan Stasiun </h2>
<div class="container">
  <form action="/action_page.php">
  <div class="row">
    <div class="col-25">
      <label for="nama">Nama</label>
    </div>
    <div class="col-75">
      <input type="text" id="nama" name="nama" placeholder="Nama stasiun ..">
    </div>
  </div>
 <div class="row">
    <div class="col-25">
      <label for="Alamat">Alamat</label>
    </div>
    <div class="col-75">
      <input type="text" id="alamat" name="alamat" placeholder="Alamat stasiun ..">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="Latitude">Latitude</label>
    </div>
    <div class="col-75">
      <input type="text" id="Latitude" name="Latitude" placeholder="Latitude ..">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="Longitude">Longitude</label>
    </div>
    <div class="col-75">
      <input type="text" id="longitude" name="longitude" placeholder="Longitude ..">
    </div>
  </div>
 
  <div class="container-contact100-form-btn">
      <button class="contact100-form-btn">
          Submit
      </button>
  </div>
  </form>
</div>

</body>
</html>

</body>
