{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% include 'import.html' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/selvy-2.css' %}"</link>

	
    <title>Easy Bike | Voucher</title>
  </head>
  <body>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/rachel.css' %}"</link>
</head> -->
{% include 'navbar.html' %}
<h2 class=judul style="text-align: center; color: white"> Form Update Voucher </h2>
<div class="container">
  <form action="/action_page.php">
  <div class="row">
    <div class="col-25">
      <label for="nama">Nama:</label>
    </div>
    <div class="col-75">
      <input type="text" id="nama" name="nama" placeholder="Voucher Belanja">
    </div>
  </div>
 <div class="row">
    <div class="col-25">
        <label for="pwd">Kategori:</label>
    </div>
    <div class="col-75">
        <select class="form-control" id="kategori">
            <option>makanan</option>
            <option>belanja</option>
            <option>atraksi</option>
        </select>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
        <label for="poin">Nilai poin:</label>
    </div>
    <div class="col-75">
        <input class="form-control" type="number" id="poin-input" placeholder="300">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
        <label for="desc">Deskripsi:</label>
    </div>
    <div class="col-75">
        <input class="form-control" type="text" id="textgl" placeholder="Gratis Belanja">
    </div> 
    </div>
    <div class="row">
    <div class="col-25">
        <label for="jmlv">Jumlah:</label>
    </div>
    <div class="col-75">
        <input class="form-control" type="number" id="jmlv">
    </div> 
    </div>
  </div>
  <div class="container-contact100-form-btn">
      <button class="contact100-form-btn">
          Update
      </button>
  </div>
  </form>
</div>

      
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>