<!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Easy Bike</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" id="link-to-news" href="#news">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">judul 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">judul 3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Daftar</a>
            </li>
        </ul>
    </div>
</nav> -->

<!-- <div class="navbar">
        <button href="#home">Daftar</button>
        <button href="#news">Masuk</button>
        <div class="dropdown">
        <button class="btn dropdown-toggle" style = "background-color:#07a0c3 "type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            TopUp
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Daftar TopUp</a>
            <a class="dropdown-item" href="#">Buat TopUp</a>
        </div>
        </div> 
        <div class="dropdown">
        <button class="btn dropdown-toggle" style = "background-color:#07a0c3 "type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Acara
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Tambah Acara</a>
            <a class="dropdown-item" href="#">Daftar Acara</a>
        </div>
        </div> 
        <div class="dropdown">
        <button class="btn dropdown-toggle" style = "background-color:#07a0c3 "type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Penugasan
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Tambah Penugasan</a>
            <a class="dropdown-item" href="#">Daftar Penugasan</a>
        </div>
        </div> 
        <div class="dropdown">
        <button class="btn dropdown-toggle" style = "background-color:#07a0c3 "type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Voucher
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Tambah Voucher</a>
            <a class="dropdown-item" href="#">Daftar Voucher</a>
        </div>
        </div> 
        <div class="dropdown">
        <button class="btn dropdown-toggle" style = "background-color:#07a0c3 "type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Peminjaman
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Tambah Peminjaman</a>
            <a class="dropdown-item" href="#">Daftar Peminjaman</a>
        </div>
        </div> 
      </div>
 -->

      {% load static %}
<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">
<!--meta name="viewport" content="width=device-width, initial-scale=1"-->
<meta content="width=device-width, initial-scale=1.0, user-scalable=yes, minimum-scale=1.0, maximum-scale=3.0" id="viewport" name="viewport">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'AppEvent\style.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    
<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static '../static/formstyle.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static '../static/favicon.ico' %}"/>

</head>

<style>
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
        .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
        background-color: #ddd;
    }
        .dropdown:hover .dropdown-content {
        display: block;
    }
</style>

<body class =  "container-float">
 <!-- NAVBAR -->
 <nav class="navbar navbar-expand-lg navbar-dark transparent navbar-inverse">
  <a class="navbar-brand active" href=""><span class="sr-only"></span></a>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
  </button>
   
  <div class="collapse navbar-collapse navbar-inner" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
       
    
    <li class="nav-link" Style = "font-family: Arvo">
      EASY BIKE 
    </li>
    
    
   </ul>
   <ul class="navbar-nav ml-auto ">
     
      <li class="nav-item">
          <div class="dropdown">
          <a class="nav-link">Masuk</a>
            
          </div>
          </li>
            <li class="nav-item">
                <div class="dropdown">
                <a class="nav-link">Daftar</a>
                    
                </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                    <a class="nav-link">Sepeda</a>
                        <div class="dropdown-content">
                            <a href="#">Tambah Sepeda</a>
                            <a href="#">Daftar Sepeda</a>
                        </div>
                    </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                        <a class="nav-link">Stasiun</a>
                            <div class="dropdown-content">
                                <a href="#">Tambah Stasiun</a>
                                <a href="#">Daftar Stasiun</a>
                            </div>
                        </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                            <a class="nav-link">Acara</a>
                                <div class="dropdown-content">
                                    <a href="{% url 'register_acara' %}">Buat Acara</a>
                                    <a href="{% url 'daftar_acara' %}">Daftar Acara</a>
                                </div>
                            </div>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown">
                                <a class="nav-link">Voucher</a>
                                    <div class="dropdown-content">
                                        <a href="#">Tambah Voucher</a>
                                        <a href="#">Daftar Voucher</a>
                                    </div>
                                </div>
                                </li>
                                <li class="nav-item">
                                    <div class="dropdown">
                                    <a class="nav-link">Transaksi</a>
                                        <div class="dropdown-content">
                                            <a href="#">Riwayat</a>
                                            <a href="#">Top Up</a>
                                        </div>
                                    </div>
                                    </li>
                                    <li class="nav-item">
                                        <div class="dropdown">
                                        <a class="nav-link">Penugasan</a>
                                            <div class="dropdown-content">
                                                <a href="{% url 'register_penugasan'  %}">Buat Penugasan</a>
                                                <a href="{% url 'daftar_penugasan' %}">Daftar Penugasan</a>
                                            </div>
                                        </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="dropdown">
                                            <a class="nav-link">Peminjaman</a>
                                                <div class="dropdown-content">
                                                    <a href="#">Buat Peminjaman</a>
                                                    <a href="#">Daftar Peminjaman</a>
                                                </div>
                                            </div>
                                            </li>
 
       

   </ul>
  </div>
 </nav>
</body>
</html>