{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    {% include 'import.html' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--     Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/selvy-2.css' %}">
    <title>Easy Bike | Tambah Sepeda</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>


<!-- <h2>Responsive Form</h2>
<p>Resize the browser window to see the effect. When the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other.</p>
 -->
  {% include 'navbar.html' %}
<h2 class=judul style="text-align: center; color: white"> Form Penambahan Sepeda </h2>
<div class="container">
  <form action="/action_page.php">
  <div class="row">
    <div class="col-25">
      <label for="merk">Merk</label>
    </div>
    <div class="col-75">
      <input type="text" id="merk" name="merk" placeholder="Merk sepeda ..">
    </div>
  </div>
 <div class="row">
    <div class="col-25">
      <label for="jenis">Jenis</label>
    </div>
    <div class="col-75">
      <input type="text" id="jenis" name="jenis" placeholder="Jenis sepeda ..">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="status">Status</label>
    </div>
    <div class="col-75">
      <select id="status" name="status">
        <option value="tersedia">Tersedia</option>
        <option value="tidak_tersedia">Tidak tersedia</option>
      </select>
    </div>
  </div>
   <div class="row">
    <div class="col-25">
      <label for="stasiun">Stasiun</label>
    </div>
    <div class="col-75">
      <select id="stasiun" name="stasiun">
        <option value="stasiun1">Stasiun 1</option>
        <option value="stasiun2">Stasiun 2</option>
        <option value="stasiun3">Stasiun 3</option>
        <option value="lainnya">Stasiun lainnya</option>
      </select>
    </div>
</div>
     <div class="row">
    <div class="col-25">
      <label for="stasiun">Penyumbang</label>
    </div>
    <div class="col-75">
      <select id="penyumbang" name="penyumbang">
        <option value="penyumbang1">Penyumbang 1</option>
        <option value="penyumbang2">Penyumbang 2</option>
        <option value="penyumbang3">Penyumbang 3</option>
        <option value="anonim">Anonim</option>
      </select>
    </div>
  </div>
  <div class="container-contact100-form-btn">
      <button class="contact100-form-btn">
          Submit
      </button>
  </div>
  </form>
</div>

</body>
