

{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% include 'import.html' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'daftar.css' %}"</link>

	
    <title>Easy Bike | Acara </title>
  </head>
  <body>
        {% include 'navbar.html' %}
    <div class="container-fluid">
	<div class="row">
		<div id=frametitle class="col-md-12">
			<div class="jumbotron" id=vouchertitle>
				<h2 class=judul>
					ACARA
				</h2>
				<p class=judul>
                    Mau liburan tapi bingung? pengen cari hiburan tapi gak tau mau kemana? 
                    Cari tau update-update acara menarik dan seru di Depok hanya di Easy Bike!
				</p>
			</div>
		</div>
	</div>
	<div class="btn-group">
		<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Filter by
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="#"> Judul</a>             
				<a class="dropdown-item" href="#">Deskripsi</a>
                <a class="dropdown-item" href="#">Gratis</a>
                <a class="dropdown-item" href="#">Tanggal Mulai</a>
                <a class="dropdown-item" href="#">Tanggal Selesai</a>
                <a class="dropdown-item" href="#">Stasiun</a>
			</div>
		</div>
	<div class="btn-group">
		<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Sort by
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="#">Ascending</a>
				<a class="dropdown-item" href="#">Descending</a>
			</div>
		  </div>
	<br></br>
	<div id=tablevoucher class="row">
		<table class="table table-bordered" style="background-color: white">
				<thead>
					<tr>
                            <th class="align-middle"  >Judul</th>
                            <th class="align-middle ">Deskripsi</th>
                            <th  class="align-middle" >Gratis</th>
                            <th class="align-middle ">Tanggal Mulai</th>
                            <th  class="align-middle" >Tanggal Selesai</th>
                            <th  class="align-middle">Stasiun</th>
                            <th  class="align-middle">Action</th>
	
					</tr>
				</thead>
				<tbody>
                        <tr>
                                <td>CGT</td>
                                <td>Acara tahunan kampus</td>
                                <td>Tidak</td>
                                <td>18/01/2019</td>
                                <td>18/03/2019</td>
                                <td>Seoul</td>
                                <td>
                                        <a  href="{% url 'update_acara'  %}"> <button type="return" class="btn btn-primary">Update</button></a>
                                        <button type="return" class="btn btn-danger">Delete</button>
                                    </td>
                            </tr>
                            <tr>
                                <td>Cravier</td>
                                <td>pentas seni sekolah</td>
                                <td>Tidak</td>
                                <td>18/01/2019</td>
                                <td>18/03/2019</td>
                                <td>Dallas</td>
                                <td>
                                        <a  href="{% url 'update_acara'  %}"> <button type="return" class="btn btn-primary">Update</button></a>
                                        <button type="return" class="btn btn-danger">Delete</button>
                                    </td>
                            
                            <tr>
                                <td>Compfest</td>
                                <td>pentas seni Fasilkom</td>
                                <td>Ya</td>
                                <td>18/01/2019</td>
                                <td>18/03/2019</td>
                                <td>Miami</td>
                                <td>
                                        <a  href="{% url 'update_acara'  %}"> <button type="return" class="btn btn-primary">Update</button></a>
                                        <button type="return" class="btn btn-danger">Delete</button>
                                    </td>
                            
                            </tr>
                            <tr>
                                <td>Open house</td>
                                <td>Tour the campus</td>
                                <td>Ya</td>
                                <td>18/01/2019</td>
                                <td>18/03/2019</td>
                                <td>Jakarta</td>
                                <td>
                                        <a  href="{% url 'update_acara'  %}"> <button type="return" class="btn btn-primary">Update</button></a>
                                        <button type="return" class="btn btn-danger">Delete</button>
                                    </td>
                            
                            </tr>
                            <tr>
                                <td>UI open days</td>
                                <td>bedah kampus UI</td>
                                <td>Tidak</td>
                                <td>18/01/2019</td>
                                <td>18/03/2019</td>
                                <td>Cibubur</td>
                                <td>
                                        <a  href="{% url 'update_acara'  %}"> <button type="return" class="btn btn-primary">Update</button></a>
                                        <button type="return" class="btn btn-danger">Delete</button>
                                    </td>
            
                            </tr>
                            <tr>
                                <td>WTF</td>
                                <td>konser musik terbesar di jakarta</td>
                                <td>Tidak</td>
                                <td>18/01/2019</td>
                                <td>18/03/2019</td>
                                <td>Depok</td>
                                <td>
                                        <a  href="{% url 'update_acara'  %}"> <button type="return" class="btn btn-primary">Update</button></a>
                                        <button type="return" class="btn btn-danger">Delete</button>
                                    </td>
                            </tr>
                            <tr>
                                <td>Lampion</td>
                                <td>pesta penerbangan lampion terbesar </td>
                                <td>Ya</td>
                                <td>18/01/2019</td>
                                <td>18/03/2019</td>
                                <td>Tebet</td>
                                <td>
                                        <a  href="{% url 'update_acara'  %}"> <button type="return" class="btn btn-primary">Update</button></a>
                                        <button type="return" class="btn btn-danger">Delete</button>
                                    </td>
                            
                            </tr>
                            <tr>
                                <td>CSL</td>
                                <td>Pertandingan sepakbola</td>
                                <td>Ya</td>
                                <td>18/01/2019</td>
                                <td>18/03/2019</td>
                                <td>Cawang</td>
                                <td>
                                        <a  href="{% url 'update_acara'  %}"> <button type="return" class="btn btn-primary">Update</button></a>
                                        <button type="return" class="btn btn-danger">Delete</button>
                                    </td>
                            
                            </tr>
                        </tr>
			</table>
		<nav id=bawah class="pagination-sm">
				<ul class="pagination">
					<li class="page-item">
						<a class="page-link" href="#">Previous</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">3</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">4</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">5</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">Next</a>
					</li>
				</ul>
			</nav>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
