{% load static %}
<!doctype html>
<html lang="en">
<head>
        {% include 'import.html' %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--     Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Easy Bike | Update Penugasan</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>

<!-- <h2>Responsive Form</h2>
<p>Resize the browser window to see the effect. When the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other.</p>
 -->
<body class = "bg-img">
        {% include 'navbar.html' %}<br><br><br><br>
<h2 class=judul style="text-align: center; color: white"> Update Penugasan </h2>
<div class="container">
  <form action="/action_page.php">
  <div class="row">
    <div class="col-25">
      <label for="merk">Petugas: </label>
    </div>
    <div class="col-75">
      <input type="text" id="merk" name="merk" placeholder="1111111-Budi">
    </div>
  </div>

   <div class="row">
    <div class="col-25">
      <label >Tanggal Mulai:</label>
    </div>
    <div class="col-75">
            <input type="date" id="merk" name="merk" >
    </div>
</div>
     <div class="row">
    <div class="col-25">
      <label >Tanggal Selesai:</label>
    </div>
    <div class="col-75">
            <input type="date" id="merk" name="merk" >
    </div>
  </div>
  <div class="row">
        <div class="col-25">
          <label for="jenis">Stasiun: </label>
        </div>
        <div class="col-75">
          <input type="text" id="jenis" name="jenis" placeholder="Depok">
        </div>
      </div>
  <div class="container-contact100-form-btn">
      <button class="contact100-form-btn">
          Update
      </button>
  </div>
  </form>
</div>

</body>
</html>





