{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% include 'import.html' %}
    <link rel="stylesheet" href="{% static 'css/irfan-1.css' %}"</link>

    <title>Easy Bike</title>
  </head>
  <body>
        {% include 'navbar.html' %}

    <section class="introducing">
        <div class="container-fluid first">
            <div class="container text-center">
                <img src="{% static 'img/EasyBike-icon.png' %}" width="500">
            </div>
            <div class="container text-center thisOneFont2 subintro" style="line-height: 150%; font-size: large">
                <p><b>Coba sepeda keliling kampus</b><br>50 sepeda tersedia di fakultas teknik dan kesehatan untuk,
                <br>berpergian, jalan-jalan, dan berolahraga.<br>900 sepeda akan segera hadir!</p>
            </div>
            <div class="col-sm buttonCustom3 text-center">
                <input class="butt2 " type="button" value="DAFTAR"/>
            </div>
        </div>
    </section>

    <section class="pricing">
        <div class="container judulPricing text-center">
            <h2> BERAPA SIH BIAYANYA? <b>HARGA</b></h2>
        </div>
        <div class="container detailHarga">
            <div class="row">
                <div class="col">
                    <div class="row thisOneArvo hargaBanner">
                        <div class="col-sm">
                            <h1><b>Rp60.000/JAM</b></h1>
                        </div>
                        <div class="col-sm buttonCustom">
                            <input class="butt" type="button" value="DAFTAR"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="thisOneArvo">Rp30.000</h5>
                            <p class="thisOneFont2">biaya mengunci diluar stasiun</p>
                        </div>
                        <div class="col-sm">
                            <h5 class="thisOneArvo">Rp20.000</h5>
                            <p class="thisOneFont2">biaya pengembalian</p>
                        </div>
                        <div class="col-sm">
                            <h5 class="thisOneArvo">Rp400.000</h5>
                            <p class="thisOneFont2">pembayaran diluar sistem</p>
                        </div>
                    </div>
                </div>
                <div class="col thisOneFont2">
                    <ul>
                        <li>Rp30.000 untuk mengunci diluar official station</li>
                        <li>Rp200.000 untuk mengunci sepeda diluar daerah sistem</li>
                        <li>Biaya maksimum meminjam sepeda dalam sehari adalah Rp450.000 </li>
                        <li>Perhitungan dimulai dari semenjak kamu meminjam sepeda di web</li>
                        <li>Harga belum termasuk pajak</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="how">
        <div class="jumbotron-fluid banner2">
            <div class="container">
            <div class="container text-center CPheadline thisOneArvo">
                <h2>CARA <b>PEMESANAN</b></h2>
            </div>
            <div class="row thisOneFont2">
                <div class="col-sm text-center">
                    <div class="container pemesananIcon">
                        <img src="{% static 'img/smartphone.png' %}" width="150px">
                    </div>
                    <h5 class="thisOneArvo"><b>DAFTAR</b></h5>
                    <p>Pilih paket dan daftar menjadi anggota easybike melalui
                    website. Kamu akan dibuatkan akun dan memberikan kode PIN.</p>
                </div>
                <div class="col-sm text-center">
                    <div class="container pemesananIcon">
                        <img src="{% static 'img/unlocked.png' %}" width="150px">
                    </div>
                    <h5 class="thisOneArvo"><b>LEPASKAN</b></h5>
                    <p>Masukkan 6-digit nomer akun dan 4-digit PIN
                    ke keypad dibelakang sepeda untuk membukanya.</p>
                </div>
                <div class="col-sm text-center">
                    <div class="container pemesananIcon">
                        <img src="{% static 'img/bicycle-rider.png' %}" width="150px">
                    </div>
                    <h5 class="thisOneArvo"><b>KENDARAI</b></h5>
                    <p>Lepaskan kunci U dan taruh ditempat kunci sebelum berangkat.
                    Untuk membuat perhentian sementara, tekan tombol "HOLD" dan kunci sepeda
                    ke suatu tiang.</p>
                </div>
                <div class="col-sm text-center">
                    <div class="container pemesananIcon">
                        <img src="{% static 'img/architecture-and-city.png' %}" width="150px">
                    </div>
                    <h5 class="thisOneArvo"><b>KEMBALIKAN</b></h5>
                    <p>Untuk mengakhiri perjalanan, kunci sepedamu di salah stasiun resmi kita, atau
                    kunci dimana saja di daerah yang ditentukan dengan cukup membayar Rp30.000.</p>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="peta">
        <div class="container-fluid map">
            <div class="container">

            </div>
        </div>
    </section>

    <section class="guide">
        <div class="container banner3">
            <div class="container RSbanner">
                <h2 class="thisOneArvo text-center">AMAN BERKENDARA, <b>IKUTI ATURANNYA</b></h2>
            </div>
            <div class="row thisOneFont2 text-center fontSize1">
                <div class="col-sm">
                    <div class="container pemesananIcon">
                        <img src="{% static 'img/tyre.png' %}" width="100px">
                    </div>
                    <h6 class="thisOneArvo">PERIKSA</h6>
                    <p>Cek tekanan ban, coba bel sepeda, dan jika kamu berkendara di malam hari
                    cek lampu depan dan belakang dapat menyala.</p>
                </div>
                <div class="col-sm">
                    <div class="container pemesananIcon">
                        <img src="{% static 'img/traffic-light.png' %}" width="100px">
                    </div>
                    <h6 class="thisOneArvo">IKUTI ATURAN</h6>
                    <p>Berhenti ketika ada pejalan kaki. Berhenti di lampu merah.
                    Berkendara sesuai arah. Gunakan bel untuk menandai keberadaanmu.
                    Jangan gunakan lebih dari 1 earphone ketika berkendara.</p>
                </div>
                <div class="col-sm">
                    <div class="container pemesananIcon">
                        <img src="{% static 'img/u-turn.png' %}" width="100px">
                    </div>
                    <h6 class="thisOneArvo">TIPS KETIKA BERBELOK</h6>
                    <p>Gunakan tangan untuk memberitahu pengendara dan pesepeda lain ketika kamu ingin
                    belok atau berhenti. Jangan belok atau pindah jalur tanpa mengetahui posisi mobil
                    dan sepeda disekitarmu.</p>
                </div>
                <div class="col-sm">
                    <div class="container pemesananIcon">
                        <img src="{% static 'img/success.png' %}" width="100px">
                    </div>
                    <h6 class="thisOneArvo">MUDAH DIPREDIKSI</h6>
                    <p>Jangan buat belokan dadakan yang membayakan dirimu dan orang lain.
                    Berkendara dalam kecepatan yang konstan agar pengendara lain dapat mengantisipasi
                    kecepatanmu.</p>
                </div>
                <div class="col-sm">
                    <div class="container pemesananIcon">
                        <img src="{% static 'img/climbing.png' %}" width="100px">
                    </div>
                    <h6 class="thisOneArvo">GUNAKAN HELM</h6>
                    <p>Gunakan helm kemanapun kamu pergi. Kencangkan pengikatnya. Ganti helm-mu tiap setelah terjatuh
                    dan ketika kamu melihat ada penyokan. Hal seperti ini sering terjadi, hindari.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="tentangkita">
        <div class="jumbotron thisOneFont2 banner4">
            <div class="container text-center">
                <h2 class="thisOneArvo">TENTANG <b>KAMI</b></h2>
            </div>
            <div class="container">
                <h2 class="thisOneArvo"><b>FAQ</b></h2>
                <p><b>APA</b> | Easy Bike meluncurkan 50 sepeda pintar untuk meningkatkan pilihan transportasi wilayah
                Universitas Indonesia, tersedia 24/7. Gunakan sepeda untuk bepergian, menjalankan tugas, mengunjungi teman
                atau hanya untuk bersenang-senang! 900 sepeda diharapkan pada Musim Gugur 2019.</p>
                <p><b>DIMANA</b> | Sepeda-sepda akan dilokasikan di stasiun sepeda disekitar Universitas Indonesia. Lihat map
                diatas dan pastikan daerah beroperasi sehingga tidak mengunci sepeda diluar batas.</p>
                <p><b>KAPAN</b> | EasyBike meluncur di April 2019.</p>
                <p><b>KEUNTUNGAN</b> | EasyBike menambah opsi berkendara, mengurangi kemacetan dan membantu menaikkan perekonomian
                lokal!</p>
            </div>
        </div>
    </section>

    <section class="hubungikita">
        <div class="jumbotron banner5 thisOneFont2">
            <div class="container">
                <div class="container text-center">
                    <h2 class="thisOneArvo KKheadline">KONTAK <b>KAMI</b></h2>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg">
                            <h5><b>Jika kamu memiliki masalah, saran, atau masukan, langsung email kami di:</b></h5>
                            <h5 class="thisOneArvo"><b>EASYBIKE@SOCIALBYCICLES.COM</b></h5>
                            <h5><br> Untuk hal darurat, telepon kita di:</h5>
                            <h5 class="thisOneArvo"><b>(021)229-9953</b></h5>
                        </div>
                        <div class="col-lg">
                            <form>
                                <div class="form-group">
                                    <label for="nameinput">Nama</label>
                                    <textarea class="form-control" id="nameinput" rows="1"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="emailinput">Email</label>
                                    <input type="email" class="form-control" id="emailinput">
                                </div>
                                <div class="form-group">
                                    <label for="phoneinput">Phone</label>
                                    <textarea class="form-control" id="phoneinput" rows="1"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="subjectinput">Subject</label>
                                    <textarea class="form-control" id="subjectinput" rows="1"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="messageinput">Message</label>
                                    <textarea class="form-control" id="messageinput" rows="3"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg">
                            <h5>Download the official</h5>
                            <h5>Social Bicycles mobile app</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>