{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% include 'import.html' %}
      <link rel="stylesheet" href="{% static 'css/irfan-5.css' %}"</link>

  </head>

  <body>
  {% include 'navbar.html' %}
    <div class="judul">
        <div class="container-fluid headline">
            <h2>Riwayat</h2>
        </div>
    </div>

    <div class="container">
        <div id=tablevoucher class="row">
            <table class="table table-bordered" style="background-color: white">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                                Tanggal
                            </th>
                            <th>
                                Jenis Transaksi
                            </th>
                            <th>
                                Nominal
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                15 April 2019
                            </td>
                            <td>
                                Topup
                            </td>
                            <td>
                                20000
                            </td>
                        </tr>
                    </tbody>
                </table>
            <nav id=bawah class="pagination-sm">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#">Previous</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">5</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
            </nav>
    </div>
    </div>
  </body>