{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% include 'import.html' %}
      <link rel="stylesheet" href="{% static 'css/irfan-4.css' %}"</link>

  </head>

  <body>
    {% include 'navbar.html' %}
    <h2 class=judul style="text-align: center; color: white"> Form Top Up </h2>
        <div class="container">
          <form action="/action_page.php">
          <div class="row">
            <div class="col-25">
              <label for="merk">Nominal</label>
            </div>
            <div class="col-75">
              <input type="text" id="merk" name="merk" placeholder="jumlah">
            </div>
          </div>
          <div class="container-contact100-form-btn">
              <button class="contact100-form-btn">
                  Topup
              </button>
          </div>
          </form>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>